.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'Shrikhand';
  src: url('fonts/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  background-color: #E07958;
}

html {
  background-color: #E07958;
  font-size: 1rem;
}

body {
  background-color: #E07958;
  font-family:'Shrikhand', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a drop shadow to the text */
}

.my-style-container {
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center the flex items horizontally */
}

.my-style {
  background-color: #E07958;
  font-size: 10rem;
  max-width: 100%; /* Ensure text doesn't exceed container width */
  color: #E9D7A5;
  text-align: center;
  margin-top: 11rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a drop shadow to the text */
}

main.MuiBox-root {
  background-color: #E07958;
}

.subheader {
  font-family:'RobotoSlab', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: light;
  font-style: italic;
  margin-top: -2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  font-size: 2rem;
}

div.md-para {
  text-align: center;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.button-container button {
  background-color: #FF5733;
  color: #ffffff;
  border: none;
  margin-bottom: -1rem;
  padding: 15px 30px;
  width: 20rem;
  cursor: pointer;
  border-radius: 20px;
}

.button-container button a {
  color: inherit;
  text-decoration: none;
}

#button1,
#button2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a drop shadow to the buttons */
}

#button1 {
  font-family:'Shrikhand', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  margin-top: 1rem;
  margin-right: 0.5rem;
  background-color: #325864;
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  width: 25rem;
}

#button1:hover{
  background-color: #5899ad;
}

#button1 a:active{
  background-color: #5899ad;
  
}

#button2 {
  font-family:'Shrikhand', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 1rem;
  background-color: #9B2227;
  color: white;
  font-size: 1.4rem;
}

#button2:hover{
  background-color: #cb3a3f;
}

#page-container {
  position: relative;
}

.corner-border {
  position: absolute;
  width: 400px;
  height: 400px; 
  background-repeat: no-repeat;
  background-size: contain;
}

.top-right {
  top: 0;
  right: 0;
  background-image: url('waves.png');
  transform: rotate(180deg);
}

.bottom-left {
  bottom: 0;
  left: 0;
  background-image: url('waves.png'); 
}

.image-container {
  display: flex; /* Ensure the image is displayed as a block element */
  align-items: center;
  justify-content: center;
  text-align: center; /* Center the image horizontally */
  margin-top: 4rem;
}


.boombox {
  max-width: max(15vw, 290px); /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
}