.header {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin-top: 2rem;
}

.header-container {
  display: flex;
  justify-content: center;
}

div {
  white-space: pre-wrap;
}

.subheader-container {
  font-family: 'RobotoSlab', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: -5rem;
  text-align: center;
  color: white;
  font-size: 1.8rem;
  margin-bottom: -3rem;
}


.boombox .chat {
  max-width: 30%;
  max-height: 30%
}

.top-right {
  top: 0;
  right: 0;
  background-image: url('waves.png');
  transform: rotate(180deg);
}

.bottom-left {
  bottom: 0;
  left: 0;
  background-image: url('waves.png'); 
}

.dict-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}