.header {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin-top: 2rem;
}

.header-container1 {
  display: flex;
  justify-content: center;
}

/* 

div {
  white-space: pre-wrap;
}

.subheader-container {
  font-family: 'RobotoSlab', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: -5rem;
  text-align: center;
  color: white;
  font-size: 1.8rem;
  margin-bottom: -3rem;
}


.boombox .chat {
  max-width: 30%;
  max-height: 30%
}

.top-right {
  top: 0;
  right: 0;
  background-image: url('waves.png');
  transform: rotate(180deg);
}

.bottom-left {
  bottom: 0;
  left: 0;
  background-image: url('waves.png'); 
}

.dict-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.button-container2 {
  margin-top: -2rem;
}

.button-elem2 {
  font-family: 'RobotoSlab', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  background-color: white;
}

.microphone {
color: #E9D7A5;} */

.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid2x2 > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}

.intro {
  font-size: 5rem;
  color: #E9D7A5;
}

.header-container {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
}

.subheader-container {
  font-family: 'RobotoSlab', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: white;
  font-size: 1.8rem;
  margin-top: 4rem;
}

.image-container {
  margin-top: -3rem;
}

.first-part {
  margin-left: -3rem;
}

.rectangle {
  width: 45rem;
  height: 30rem;
  border: 1.5rem solid #D9D9D9;
  background-color: #f7f7f7;
  border-radius: 1rem;
  margin-top: 2em;
  color: #000000;
  font-family: 'RobotoSlab', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0.5rem;
  font-size: 1.5rem;
  word-wrap: break-word;
  overflow-y: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column-reverse;

}

.prompt-container {
  width: 100%;
  margin-top: 0.5rem;
  
}

body {
  color: #E9D7A5;
}

button {
  background-color: #E9D7A5;
  color: #000000;
  border: none;
  margin-bottom: -1rem;
  cursor: pointer;
  border-radius: 20px;
  font-family: 'RobotoSlab', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.prompt-text {
  width: 36rem;
  height: 1rem;
  border-radius: 0.5rem;
  border-color: #D9D9D9;
  border-width: 1rem;
  border-style: solid;
  padding: 1rem;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  color: #000000;
  font-family: 'RobotoSlab', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.display-linebreak {
  white-space: pre-line;
}

.submit-button {
  font-family: 'RobotoSlab', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000000;
  font-size: 1.5rem;
  background-color: #E9D7A5;
  border: none;
  border-radius: 2rem;
  margin-left: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.microphone {
  display: inline-block;
  font-family: 'RobotoSlab', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
}

.change-mode {
  background-color: transparent;
  position: fixed;
  bottom: 7rem;
  right: 18rem;
  width: 50px;
  color:transparent;
}

.change-mode img{
  height:40px;
}